@font-face {
  font-family: "Amazon Ember";
  src: local("Amazon Ember"), local("AmazonEmber-Regular"),
    url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_rg-8a9db402d8966ae93717c348b9ab0bd08703a7a7._V2_.woff)
      format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  src: local("Amazon Ember"), local("AmazonEmber-Italic"),
    url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_rgit-9cc1bb64eb270135f1adf3a4881c2ee5e7c37be5._V2_.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_rgit-a4dc98d644ff2aedd41da3da462f09ffce86eafb._V2_.woff)
      format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 700;
  src: local("Amazon Ember"), local("AmazonEmber-Bold"),
    url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_bd-46b91bda68161c14e554a779643ef4957431987b._V2_.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_bd-b605252f87b8b3df5ae206596dac0938fc5888bc._V2_.woff)
      format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  font-weight: 700;
  src: local("Amazon Ember"), local("AmazonEmber-BoldItalic"),
    url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_bdit-80ff7aba37dd1ff5a6b90233a19e3a780a96dc2f._V2_.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-amazonember_bdit-57598ce426a612be5a1d15eee08252668fca5e7a._V2_.woff)
      format("woff");
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  padding-bottom: 4px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}

input {
  width: 100%;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(0, 0, 0, 0.07) inset;
  outline: 0;
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  box-sizing: border-box;
}
